.about-section {
    background: #F6F8FA;
    z-index: -2;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about-section {
    position: relative;
}

.about-section::before {
    content: "";
    position: absolute;
    width: 409px;
    height: 409px;
    background: #DEECEC;
    border-radius: 50%;
    top: 1rem;
    left: 45%;
    z-index: -1;
}

.about-section::after {
    content: "";
    position: absolute;
    width: 366px;
    height: 183px;
    background: #DEECEC;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    bottom: 0rem;
    left: 20rem;
}

.about::before {
    content: "";
    position: absolute;
    width: 198px;
    height: 198px;
    background: #DEECEC;
    border-radius: 50%;
    right: 13%;
    bottom: 5%;
    z-index: -1;
}

.about::after {
    content: "";
    position: absolute;
    width: 104px;
    height: 104px;
    background: #DEECEC;
    border-radius: 50%;
    right: 16rem;
    top: 5rem;
    z-index: -1;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 36.5rem;
}

.about__info h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #34394C;
}

.about__info p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #707686;
}

.about__navbtn {
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}

.about__navbtn span button {
    color: #599296;
    border: 1px solid #599296;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 19px 2px rgba(208, 227, 227, 0.49);
    padding: 5.7rem 3.2rem 2.7rem 3.2rem;
    width: 35rem;
    margin: 12.9rem 0 14.1rem 0;
}

.about__card .top {
    display: flex;
    justify-content: space-between;
}

.about__card .middle p {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #707686;
}

.about__card .end {
    display: flex;
    gap: 1.1rem;
}

.about__card .end .img span img {
    border-radius: 50%;
}

.about__card .end .user {
    display: flex;
    flex-direction: column;
}

.about__card .end .user h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #34394C;
}

.about__card .end .user p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #B4B9C7;
}