@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Work+Sans:wght@300;400;500;600&display=swap');

@import url(../css/nav.css);
@import url(../css/hero.css);
@import url(../css/latest.css);
@import url(../css/ulina.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

body {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 144rem;
    padding: 0 14rem;
    margin: 0 auto;
    border: 1px solid red;
}